.btn {
  border: none;
  padding: 8px;
  border-radius: 4px;
  margin: 8px;
  cursor: pointer;
  color: white;
}
.count{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.increase{
    background-color: greenyellow;
}
.decrease{
    background-color: gold;
}
.reset{
    background-color: red;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40vh; */
}
body{
    background-color: bisque;
}
